{% extends 'profile/base.html.twig' %}

{% block profile_content %}
    <h2 class="card-title">Profil</h2>

    <form method="post">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="surname">Prénom</label>
                <input id="surname" class="form-control" value="{{ app.user.prenom }}">
            </div>
            <div class="form-group col-sm-6">
                <label for="name">Nom</label>
                <input id="name" class="form-control" value="{{ app.user.nom }}">
            </div>
            <div class="form-group  col">
                <label for="email">Email</label>
                <input id="email" class="form-control" value="{{ app.user.email }}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
{% endblock %}
