{% extends 'base.html.twig' %}

{% block content %}

    <div class="text-secondary">
        <p>Votre question est désormais en attente de validation par un administrateur.</p>
    </div>




{% endblock %}