{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <h1 class="d-sm-flex justify-content-sm-center"><br><strong>A propos de nous</strong><br><br></h1>
        <p class="text-justify" style="margin-top: 22px;">Nous sommes 3 étudiants de Polytech Annecy qui avons décidé de créer notre propre sujet de TP. Et voici le résultat, un site permettant de jouer à des quiz, d'ajouter ses propres questions, pour résumer : S'AMUSER !<br><br>Les étudiants en question
            :&nbsp;<br><a href="https://github.com/TheoBernardin/" target="_blank">Théo BERNARDIN</a><br><a href="https://github.com/nowtryz" target="_blank">Damien DJOMBY</a><br><a href="https://github.com/enzomasson25" target="_blank">Enzo MASSON</a><br><br>
            <a
                    href="https://github.com/TheoBernardin/Quiz" target="_blank"><br>Lien du GitHub du projet :)<br><br></a>
        </p>
    </div>

    {{ block('content', 'credit.html.twig') }}

{% endblock %}
