{% extends 'base.html.twig' %}

{% block content %}

    <h2>Ajouter une question</h2>

    {% if isQuestionAdded == true %}
        <p class="text-secondary">Votre question a bien été ajoutée !</p>
    {% endif %}

    <div class="d-sm-flex justify-content-sm-center" style="margin-top: 48px;">
        <form action="/validationQuestion" method="POST" style="width: 408px;margin: 0px;"><label>Question* :</label><input class="border rounded form-control" type="text" name="question" required>
            <input type="hidden" class="form-control" name="idQuiz" value="{{ id }}">
            <div class="form-row" style="padding: 0px;padding-top: 35px;">
                <div class="col"><label>Bonne réponse* :</label><input class="border rounded form-control" type="text" name="bonneRep" required></div>
                <div class="col"><label>1ère mauvaise réponse* :</label><input class="border rounded form-control" type="text" name="mauvaiseRep1" required></div>
            </div>
            <div class="form-row">
                <div class="col"><label>2ème mauvaise réponse :</label><input class="border rounded form-control" type="text" name="mauvaiseRep2"></div>
                <div class="col"><label>3ème mauvaise réponse :</label><input class="border rounded form-control" type="text" name="mauvaiseRep3"></div>
            </div>
            <p class="text-secondary "><em>Les champs comportants * sont obligatoires.</em></p>
            <button class="btn btn-primary btn-block border rounded" type="submit" style="margin-top: 39px;">Valider</button>
        </form>


    </div>


{% endblock %}