{% extends 'base.html.twig' %}

<h2>Crédits page de connexion / inscription</h2>
<ul>
    <li><a href="https://www.freeimages.com/photo/sunday-s-crossword-1238083">Photo</a> de <a href="https://freeimages.com/photographer/jaylopez-61821">jaylopez</a> pris sur <a href="https://freeimages.com/">FreeImages</a></li>
    <li><a href="https://www.freeimages.com/photo/quiz-2-1189415">Photo</a> by <a href="/photographer/Avolore-49063">Tory Byrne</a> from <a href="https://freeimages.com/">FreeImages</a></li>
</ul>
