<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/Carousel-Hero.css">
    <link rel="stylesheet" href="css/Navigation-with-Button.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="#">Quizy game</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Les quiz</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">à propos</a></li>
            </ul><span class="navbar-text actions"> <a class="login" href="{{ path('connexion') }}">Connexion</a><a class="btn btn-light action-button" role="button" href="#">Inscription</a></span></div>
    </div>
</nav>
<div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="jumbotron hero-nature carousel-hero" style="background-image: url('img/popo.png');">
                <h1 class="hero-title">Polytech</h1>
                <p class="hero-subtitle">Un quiz sur les écoles du réseau Polytech !&nbsp;</p>
                <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Participer à ce quiz</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-photography carousel-hero" style="background-image: url('img/annecy.jpg');">
                <h1 class="hero-title">Annecy</h1>
                <p class="hero-subtitle">Un quiz sur la ville d'Annecy !</p>
                <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Participer à ce quiz</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-technology carousel-hero" style="background-image: url('img/naruto.jpeg');">
                <h1 class="hero-title">Naruto</h1>
                <p class="hero-subtitle">Un quiz sur l'univers de naruto !</p>
                <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Participer à ce quiz</a></p>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
    <ol
            class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
    </ol>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>
