{% extends 'base.html.twig' %}

{% block additionnal_stylesheets %}
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="{{ path('accueil') }}">Quizy game</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1"></div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>Créez un compte !</strong></h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="mot de passe"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="confirmez mot de passe"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Inscription</button></div><a class="already" href="#">Déja enregistré ? connectez vous ici</a></form>
        </div>
    </div>
{% endblock %}
